@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik:ital,wght@1,700&display=swap');

body{
    background-image: url("bgImage.png");
    background-color: rgba(255, 141, 1, 0.2);
    margin: 0;
    font-family: 'Lato', sans-serif;
}
main{
    margin-top: 40px;
}
main>div{
    margin: 30px auto;
}

.container{
    position: relative;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin:auto;
    width: 960px;
}
.content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left:79px;
    margin-right: 79px;
}
.content-right{
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(-50%, -50%);
}

.header{
    width: 960;
    height: 260px;
}
.text-title{
    font: normal normal bold 24px/28px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.schedule{
    width: 548px;
    height: 29px;
    text-align: center;
    font: normal normal bold 20px/28px Noto Sans JP;
    letter-spacing: 0px;
    color: #555555;
}
.title-2{
    color: #0e0e0e;
}
.ribbon-center-text{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading{
    width: 800px;
    height: 73px;
    text-align: center;
    font: normal normal bold 25px/37px Noto Sans JP;
    letter-spacing: 0px;
    color: #EA5865;
}
.heading-2{
    color: #EA5865;
}

.big-button{
    width: 540px;
height: 70px;
    background: #F1890E 0% 0% no-repeat padding-box;
border-radius: 10px;
}
.big-button-text{
    font: normal normal bold 24px/35px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.arrow{
    width: 160px;
height: 40px;
}

.ribbon-banner{
    width: 380px;
    height: 57px;
}

.img-border{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    background-color:rgba(255, 141, 1, 0.516);
}

.text-left{
    text-align: left;
    letter-spacing: 0px;
}
.description-1{
    font: normal normal normal 18px/31px Noto Sans JP;
    color: #555555;
}

.step{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    background: #C89950 0% 0% no-repeat padding-box;
    border-radius: 28px;
}
.step-text{
    font: normal normal bold 24px/28px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.step-description-text{
    font: normal normal bold 22px/28px Noto Sans JP;
    color: #E83936;
}

.footer-text{
    padding: 20px;
    font: normal normal normal 15px/24px Noto Sans JP;
    color: #555555;
}

.footer{
    background-color: #F5F5F5;
}
